h1,h3
{
	display:inline-block;
}

.demo-target
{
	border: 1px solid black;
	color: white;
	background-color: red;

	/*
	Larger target to show how tips center themselves
	display: inline-block;
	width: 90px;
	height: 50px;
	*/
}

.vertical-spacer
{
	height: 80px;
}

.horizontal-spacer
{
	width: 20%;
	display: inline-block;
}

.white-tip
{
	color: white;
}

.tutorial-overlay-content
{
	background-color: white;
	border: 1px solid black;

}
.tutorial-overlay-content div
{
	padding: 5px;
}

.box-title
{
	border: 1px solid black;
	font-size: 2em;
	font-weight: bold;
	padding: 5px;
}