h3
{
	display:inline-block;
}

.demo-target
{
	border: 1px solid black;
	color: white;
	background-color: red;
}

.vertical-spacer
{
	height: 80px;
}

.horizontal-spacer
{
	width: 25%;
	display: inline-block;
}

.white-tip
{
	color: white;
}