---
layout: main
---

<link rel="stylesheet" href="stylesheets/download-builder.css" />

<h1>Download Builder</h1>

Select the libraries you'd like to include in your custom build:
<form name="dependencies">
	<div class="dependencies-container"></div>

	<input type="button" class="generate-button" value="Generate" />
	<input type="checkbox" id="minified" checked /> <label for="minified">Minified</label>

	<div id="outputArea"></div>
</form>

<script type="text/template" id="dependencyTemplate">
<input type="checkbox" id="<%= escapedModuleName %>" value="<%= moduleName %>" /> <label for="<%= escapedModuleName %>"><%= moduleName %></label><br />
</script>

<script type="text/template" id="outputTemplate">
<div class="module-title"><%= name %></div>
<div class="module-notes"><%= notes %></div>
<textarea class="module-output" readonly><%= content %></textarea>
</script>

<script type="text/template" id="downloadTemplate">
<div class="module-title"><%= name %></div>
<div class="module-notes"><%= notes %></div>
<a href="<%= path %>" class="module-download" target="_blank">Download file...</a>
</script>

<script type="text/javascript" src="javascripts/underscore-min.js"></script>
<script type="text/javascript" src="../dist/jquery.delimitedString.js"></script>
<script type="text/javascript" src="../dist/jquery.queryString.js"></script>
<script type="text/javascript" src="javascripts/dependency-tree.js"></script>
<script type="text/javascript" src="javascripts/download-builder.js"></script>
