body
{
	font-family: Arial;
}

img
{
	width: 100%;
}

.textbutton
{
	border: 1px solid #616261; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;font-size:12px;
	font-family:arial, helvetica, sans-serif; 
	padding: 10px 10px 10px 10px; 
	text-decoration:none; 
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; 
	color: #FFFFFF;
	background-color: #7d7e7d; 
	min-width: 100px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
	background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
	background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
	background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
	background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
	background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
	
}

.textbutton:hover
{
	border: 1px solid #4a4b4a;
	background-color: #646464; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
	background-image: -webkit-linear-gradient(top, #646464, #282828);
	background-image: -moz-linear-gradient(top, #646464, #282828);
	background-image: -ms-linear-gradient(top, #646464, #282828);
	background-image: -o-linear-gradient(top, #646464, #282828);
	background-image: linear-gradient(to bottom, #646464, #282828);
}

.dialog-button-group
{
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: center;
}

@media screen and (max-width: 500px) {

	.dialog-button-group .textbutton
	{
		width: 80%;
	}
}

.clear
{
	clear: both;
}

#dialogLightbox
{
	text-align: center;
	padding-bottom: 40px;
}

.veg-dialog
{
	position:relative;
	clear: both;
}

.veg-dialog h2
{
	margin-top: 0;
	margin-bottom: 0;
}

.veg-dialog .left-column
{
	float: left;
	width: 50%;
}

.veg-dialog .right-column
{
	float: right;
	width: 47%;
}

@media (max-width: 500px) {

	.veg-dialog .left-column,
	.veg-dialog .right-column
	{
		float: inherit;
		width: 100%;
	}

	.veg-dialog img
	{
		width: 50%;
	}
}