.fruit-dialog
{
	position:relative;
	clear: both;
}

.fruit-dialog h2
{
	margin-top: 0;
	margin-bottom: 0;
}

@media (max-width: 500px) {

	.fruit-dialog .left-column,
	.fruit-dialog .right-column
	{
		float: inherit;
		width: 100%;
	}
}

.fruit-dialog .left-column
{
	float: left;
	width: 50%;
}

.fruit-dialog .right-column
{
	float: right;
	width: 47%;
}

