<!doctype html>
<!--[if !IE]>      <html class="no-js non-ie" lang="en-US"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en-US"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!--[if lt IE 9]> <script src="javascripts/html5shiv.js"></script> <![endif]-->

  <link rel='stylesheet' id='responsive-style-css' href='stylesheets/style.css' type='text/css' />
  <link rel='stylesheet' id='responsive-media-queries-css'  href='stylesheets/media-queries.css' type='text/css'/>
  <link rel="stylesheet" href="stylesheets/syntax-highlighting.css"/>

  <script type='text/javascript' src='javascripts/jquery.js'></script>
  <script type='text/javascript' src='javascripts/jquery-migrate.min.js'></script>
  <script type='text/javascript' src='javascripts/responsive-modernizr.js'></script>
  <script type="text/javascript" src="javascripts/script.js"></script>
  <script type="text/javascript" src="javascripts/toc.js"></script>

  <title>skinny.js</title>

  <meta name="description" content="Skinny JS">
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body class="home blog front-page">
                 
  <div id="container" class="hfeed">
           
      <div id="header">
                 
        <div id="logo" class="skinny-logo">
            <a href="./">skinny.js</a>
        </div>
            
        <div class="main-nav">
          <ul class="menu">
            <li class="current_page_item"><a href="./" title="Home">Home</a></li>
            <li class="page_item"><a href="download-builder.html">Download</a></li>
            <li class="page_item"><a href="#" onclick="return false;">Documentation</a>
              <ul class='children'>
                <li class="page_item"><a href="#" onclick="return false;">Libraries</a>
                  <ul class="children">
                    <li class="page_item"><a href='date-parse.html'>date-parse</a></li>

                    <li class="page_item"><a href='jquery.breakpoints.html'>jQuery.breakpoints</a></li>

                    <li class="page_item"><a href='jquery.clientRect.html'>jQuery.clientRect</a></li>

                    <li class="page_item"><a href='jquery.cookies.html'>jQuery.cookies</a></li>

                    <li class="page_item"><a href='jquery.css.html'>jQuery.css</a></li>

                    <li class="page_item"><a href='jquery.customEvent.html'>jQuery.customEvent</a></li>

                    <li class="page_item"><a href='jquery.delimitedString.html'>jQuery.delimitedString</a></li>

                    <li class="page_item"><a href='jquery.disableEvent.html'>jQuery.disableEvent</a></li>

                    <li class="page_item"><a href='jquery.hostIframe.html'>jQuery.hostIframe</a></li>

                    <li class="page_item"><a href='jquery.hoverDelay.html'>jQuery.hoverDelay</a></li>

                    <li class="page_item"><a href='jquery.htmlEncode.html'>jQuery.htmlEncode</a></li>

                    <li class="page_item"><a href='jquery.imageSize.html'>jQuery.imageSize</a></li>

                    <li class="page_item"><a href='jquery.isVisibleKeyCode.html'>jQuery.isVisibleKeyCode</a></li>

                    <li class="page_item"><a href='jquery.partialLoad.html'>jQuery.partialLoad</a></li>

                    <li class="page_item"><a href='jquery.pointerEvents.html'>jQuery.pointerEvents</a></li>

                    <li class="page_item"><a href='jquery.pointerGestures.html'>jQuery.pointerGestures</a></li>

                    <li class="page_item"><a href='jquery.postMessage.html'>jQuery.postMessage</a></li>

                    <li class="page_item"><a href='jquery.proxyAll.html'>jQuery.proxyAll</a></li>

                    <li class="page_item"><a href='jquery.msAjax.html'>jQuery.msAjax</a></li>

                    <li class="page_item"><a href='jquery.ns.html'>jQuery.ns</a></li>

                    <li class="page_item"><a href='jquery.queryString.html'>jQuery.queryString</a></li>

                    <li class="page_item"><a href='jquery.scrollAnchor.html'>jQuery.scrollAnchor</a></li>

                    <li class="page_item"><a href='jquery.uncomment.html'>jQuery.uncomment</a></li>

                    <li class="page_item"><a href='jquery.url.html'>jQuery.url</a></li>

                  </ul>
                </li>
                <li class="page_item"><a href="#" onclick="return false;">UI Components</a>
                  <ul class="children">
                    <li class="page_item"><a href='jquery.menu.html'>jQuery.menu</a></li>

                    <li class="page_item"><a href='jquery.modalDialog.html'>jQuery.modalDialog</a></li>
                </ul>
              </li>
              </ul>
            </li>
          </ul>
      </div>                
                   
    </div>
          
    <div id="wrapper" class="clearfix">

      {{content}}

    </div><!-- end of #wrapper -->
  </div><!-- end of #container -->

  <div id="footer" class="clearfix">
    
      <div id="footer-wrapper">
      
          <div class="grid col-940">
          
            <div class="grid col-540"></div><!-- end of col-540 -->
           
            <div class="grid col-380 fit">
              <ul class="social-icons"></ul><!-- end of .social-icons -->         
            </div><!-- end of col-380 fit -->
           
          </div><!-- end of col-940 -->
                               
          <div class="grid col-300 copyright">
              &copy; 2013 <a href="http://www.vistaprint.com/" title="Vistaprint | Business Cards, Websites, Postcards, T-shirts And More">Vistaprint</a>
          </div><!-- end of .copyright -->
          
          <div class="grid col-300 scroll-top"><a href="#scroll-top" title="scroll to top">&uarr;</a></div>
          
          <div class="grid col-300 fit powered">
          </div><!-- end .powered -->
          
      </div><!-- end #footer-wrapper -->
      
  </div><!-- end #footer -->

  <script type='text/javascript' src='javascripts/responsive.js'></script>
</body>
</html>
